/* partitions live under flash0 */
&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        mcuboot_primary: partition@2c0000 {
            label = "mcuboot_primary";
            reg = <0x2c0000 0x140000>; /* ends at 0x400000 */
        };
    };
};

&wifi {
    status = "okay";
};

&uart0 {
    status = "okay";
    current-speed = <115200>;
};


